##template properties
name =cx_feature_password_encryption_aes;
description = feature password encryption aes;
tags = ;
userDefined = true;
supportedPlatforms = All;
templateType = POLICY;
templateSubType = DEVICE;
contentType = TEMPLATE_CLI;
implements = ;
dependencies = ;
published = false;
imports = ;
##
##template variables
##
##template content

feature password encryption aes

##